{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ConsumeEventQueues",
      "Effect": "Allow",
      "Action": ["sqs:ReceiveMessage", "sqs:DeleteMessage", "sqs:GetQueueAttributes"],
      "Resource": ${queue_arns}
    }
  ]
}
